$maxWidth: 1920;
$maxWidthContainer: 1280;
$containerWidth: 1180;
$tableWidth: 768;
$minWidth: 320;

$mainOffset: 50;
$mainFont: 'Montserrat';
$mainWeight: 400;

$whiteColor: rgb(255, 255, 255);
$redColor: rgb(255, 0, 0);
$bgColor: #f9f9f9;
$colorTundora: rgb(65, 65, 65);
$colorSpinnerBg: #a04668;
$colorSpinnerTop: #254e70;
$textPrimaryColor: $colorTundora;
$standartTrans: all 280ms;

$fontFamily: $mainFont, sans-serif;
$fontStyle: normal;
$fontLetter: normal;
$fontSize: 16;
$fontWeight: $mainWeight;
